.profile-main {
	position: relative;
	height: 100vh;
	margin: 20px;
	box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
	background-color: #C2A98B;
}

.profile-display {
	background-image: url("../img/coffee-bg.jpg");
	background-size: cover;
	justify-content: center;
}

.profile-pic {
	width: 150px;
	border-radius: 100px;
	border-style: none;
	margin-top: 30px;
	transform: translate(0, 62px);
}

.profile-info {
	padding: 80px 10px 10px 10px;
	justify-content: center;
}

.profile-info .col {
	align-items: center;
}

.profile-main .row:last-child {
	position: absolute;
	bottom: 20px;
	left: 30px;
	right: 30px;

}

.profile-content {
	padding: 23px;
}

#cv-page {
	text-align: center;
	padding: 30px;
}

.cv-name::after {
	content: "";
	width: 60%;
	height: 6px;
	color: #472226;
}

.cv-langs table {
	margin-top: 20px;
	margin-left: 150px;
}

.cv-langs td {
	border: 1px solid #472226;
	border-collapse: true;
	padding: 5px 10px;
	width: 150px;
}

.cv-langs table tr{
	text-align: left;
}

.cv-langs table tr td:nth-child(2){
	margin-left: 16px;
}

.contacts-page table {
	margin-top: 30px;
}

.contacts-page table td{
	padding-bottom: 14px;
}

.contacts-page table td:nth-child(1){
	width: 100px;
}

@media only screen and (max-width: 630px){
	.cv-langs table {
		margin: 20px;
	}

	.cv-langs table tr td:nth-child(1){
		width: 150px;
	}

	.cv-langs table tr td:nth-child(2){
		width: 150px;
		margin-left: 16px;
	}	
}